* {
  font-family: sans-serif;
  box-sizing: border-box;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background-color: #312eb1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 400px;
}

.container {
  padding: 40px;
  margin: 0 auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 150px);
  gap: 3px;
}

.day {
  width: 150px;
  height: 150px;
  padding: 10;
  background-color: #6366f1;
  border-radius: 10px;
  transition: all 250ms;
}

.day:hover {
  background-color: #4f4be5;
}

.day-number {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  margin: 5px;
}

.day-text {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  margin-top: 15px;
}

button.navigation {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: transform 250ms;
}

button.navigation:hover {
  transform: scale(1.3);
}
